name: Build and Deploy to ECS via Terraform (Trunk-Based)

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      rollback_tag:
        description: "Rollback to a specific image tag (optional)"
        required: false
        default: ""

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: ap-south-1
  TF_DIR: terraform
  S3_BUCKET: ten-terraform-statefile
  DYNAMODB_TABLE: terraform-locks

jobs:
  detect-envs:
    name: Detect Environments
    runs-on: ubuntu-latest
    outputs:
      env-matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Detect .tfvars files
        id: set-matrix
        run: |
          MATRIX_ENVS=$(ls ${{ env.TF_DIR }}/*.tfvars 2>/dev/null | xargs -n1 basename | sed 's/.tfvars//g' | jq -R -s -c 'split("\n")[:-1]')
          echo "matrix=$MATRIX_ENVS" >> $GITHUB_OUTPUT

  build-deploy:
    name: Build & Deploy ECS per Env
    needs: detect-envs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: ${{fromJson(needs.detect-envs.outputs.env-matrix)}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::593002333172:role/BE_Github_Actions
          aws-region: ${{ env.AWS_REGION }}

      - name: Set Environment Variables
        run: |
          echo "ENVIRONMENT=${{ matrix.env }}" >> $GITHUB_ENV
          # Path relative to working-directory (terraform/)
          echo "TFVARS_FILE=${{ matrix.env }}.tfvars" >> $GITHUB_ENV

      - name: Extract ECR repo and region from tfvars
        id: parse
        run: |
          ECR_REPO=$(grep '^ecr_repo' ${{ env.TFVARS_FILE }} | awk -F'=' '{print $2}' | tr -d ' "')
          REGION=$(grep '^region' ${{ env.TFVARS_FILE }} | awk -F'=' '{print $2}' | tr -d ' "')
          echo "ECR_REPO=$ECR_REPO" >> $GITHUB_ENV
          echo "AWS_REGION=$REGION" >> $GITHUB_ENV

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Fetch secrets from AWS Secrets Manager
        id: fetch-secrets
        run: |
          SECRET_VALUE=$(aws secretsmanager get-secret-value \
            --secret-id BE_Nextgen_Secreats \
            --query SecretString \
            --output text)
          if [ -z "$SECRET_VALUE" ]; then
            echo "âŒ No secret value found!"
            exit 1
          fi
          echo "$SECRET_VALUE" | jq -r 'to_entries|map("\(.key)=\(.value)")|.[]' > .env

      - name: Load env vars from .env
        run: |
          set -o allexport
          source .env
          set +o allexport

      - name: Build Docker image
        if: ${{ github.event.inputs.rollback_tag == '' }}
        run: |
          IMAGE_TAG=$(date +%Y%m%d%H%M%S)
          e
